.portfolio-footer {
  position: relative; /* not fixed */
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(135deg, #1a1a1a, #333333, #0d0d0d, #444444);
  color: rgb(217, 216, 216);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
}

.footer-text {
  margin: 0;
}
